.main-screen {
  font-family: "Playfair Display", serif;
  overflow-x: hidden !important;
  height: 100vh !important;
}

.product-details {
  border: 2px solid black;
  padding: 1%;
  display: flex !important;
  width: 50%;
  font-size: 20px !important;
}

.product-info {
  margin-left: 3%;
}

.product-details-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.telegram-icon {
  font-size: 30px; /* Adjust the size as needed */
}

.logo {
  font-size: 33px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  height: 12vh;
  margin-top: 1%;
}

.toggle-button {
  color: #3498db; /* Change this to your desired color */
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}

.toggle-button:hover {
  color: #2980b9; /* Optional: Change color on hover */
}

.btn {
  font-size: 18px;
}
