@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #1d232a;
  --font-color-dark: #a6adbb;
  --start-exploring-button-dark: #7480ff;
  --buy-now-button-dark: #01cdb2;
  --learn-more-button-dark: #5e80ff;
  --border-color-dark: var(--font-color-dark);

  --background-light: #e1ebdc;
  --font-color-light: #40513b;
  --start-exploring-button-light: #815cce;
  --buy-now-button-light: #01cdb2;
  --learn-more-button-light: #5e80ff;
  --border-color-light: var(--font-color-light);
}
